name: CI/CD and Docker

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-and-push:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest

    steps:
      # 1. Lấy source code từ GitHub
      - name: Checkout source code
        uses: actions/checkout@v4

      # 2. Chuẩn bị môi trường build Docker
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 3. Đăng nhập Docker Hub (dùng GitHub Secrets)
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 4. Build Docker image và push lên Docker Hub
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ngohai0804/caro-online:staging
          cache-from: type=registry,ref=ngohai0804/caro-online:staging
          cache-to: type=inline
          build-args: |
            VITE_API_URL=https://baitaplonweb20251.onrender.com
            VITE_SOCKET_URL=https://baitaplonweb20251.onrender.com